.cardArea{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    
    
    
    

    .cardItem{
        margin: 10px;
        
        
        
        .cardImg{
            
           
        }
    
    }

    


}

