.cardArea{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;

    gap: 10px;
    
    
    

    .cardItem{
        position: relative;
        .produtosInfo{
            
        }
       
        
        .cardImg{
            max-width: 500px;
            height: 360px;
        }
    
    }

    


}

