

    .offCanvasContainer{
        .botao{
            background-color:  #232323;
        }
    
        .offCanvasHeader{
    
        .item{
            background-color: #343434;
        }
          
    }
}
    



.cabecalho{
    


    

    .logo{
        margin-left: 45px;
    }
    
    button{
        border: none;
        padding: 0;
    }

    
}